.chartDisplay{
    border-radius: 10px;
}


.scrollable_side{
    overflow-y: auto;
    height: 735px;
    scrollbar-width: none;  
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.nav-tabs{
    background-color: var(--egora-skyBlue) !important;

    & button{
        font-size: 1.4rem;
        color: var(--egora-sidebar_blue);
        font-family: 'Nexa Bold';
    }
}

.nav-link.active{
    color: #495057;
    background-color:transparent;
    border-color: transparent;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        width: 50%;
        height: 5px;
        bottom: 0;
        margin: 0 auto;
        transform: scale(0);
        left: 0;
        right: 0;
        background: var(--egora-hoverBlue);
        animation:  scaleUp .2s ease-in-out .05s forwards;
    }


    @keyframes scaleUp {
        from{ transform: scale(0)}
        to{transform: scale(1)}
    }


}


.small_sideBar{
    position: relative;
    font-size: 14px;

    &::after{
      position: absolute;
      content: '';
      right: -10px;
      height: 100%;
      top: 0;
      width: 0.15em;
      background-color: var(--egora-skyBlue);  
    }

    & ul{
        list-style: none;
        padding-left: 1.25em !important;
        
        & li{
            margin: 2em 1px !important;
            font-family: 'Nexa Bold';
            position: relative;
            cursor: pointer;

            &::before{
                content: '';
                position: absolute;
                width: 50%;
                bottom: -2px;
                height: 4px;
                background-color: var(--egora-hoverBlue);
                transform: scale(0);
                transform-origin: left;
                transition: transform 100ms linear;
            }

           
            &:hover::before{
                transform: scale(1);
            }

            &::after{
                content: '';
                position: absolute;
                width: 0;
                display: none;
                // transform: scale(0);
                height: 0;
                border-left: 12.5px solid transparent;
                border-right: 12.5px solid transparent;
                border-bottom: 25px solid var(--egora-skyBlue);
                transform: rotate(-90deg) translate(23px, 114px);
            }

           
        }

        & li.beVisible::after{
            display: block;
            // transform: scale(1)
        }
    }
    
}




